*{
  magin: 0; 
  padding: 0;
}
html, body {
  background-color: #f1f1f1;
}
section {
  width: 780px;
  height: auto;
  margin: 50px auto;
}

section label {
  width: 175px;
  padding: 10px 2px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: block;
  float: left;
  color: #000;
  font-family: 'Arial';
  text-align:center;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #000;
}

#galeria img {
  float: left;
  width:250px;
  padding: 5px;
  transition: all .4s;
}

input:checked + label {
  background-color: #000;
  color: #FFF;
}

input {
 display: none;
} 

#bt_website:checked ~ #galeria .systems,
#bt_website:checked ~ #galeria .app {
   opacity: .4;
   transform: scale(0.5);
}

#bt_systems:checked ~ #galeria .website,
#bt_systems:checked ~ #galeria .app {
  opacity: .4;
  transform: scale(0.5);
}

#bt_app:checked ~ #galeria .website,
#bt_app:checked ~ #galeria .systems{
  opacity: .4;
  transform: scale(0.5);
}