
section {
  width: 780px;
  height: auto;
  margin: 50px auto;
}

label {
  width: 175px;
  padding: 10px 2px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: block;
  float: left;
  color: #000;
  font-family: 'Arial';
  text-align:center;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #000;
}

#galeria img {
  transition: all .4s;
}

input:checked + label {
  background-color: #000;
  color: #FFF;
}

input {
 display: none;
} 

.shadow{
  box-shadow: 7px 7px 7px #666;
   position : relative;
  transition : all 0.2s;
  top : 0;
}
.cust-caption{
  display:none;
  position: absolute;
  background-color: rgba(30,30,30,0.8);
  padding : 10px;
  color:#ddd;
  margin:5px;
  bottom:0;
  left:0;
  right:0;
  height : 60%;
  margin:5px;
  overflow-y : auto;
}

.up-hover:hover {
  top :-5px;
  box-shadow: 15px 15px 15px #777;
}

.cust-caption a{
  color:white;
  
  text-shadow:1px 1px 2px black;
}
